In [3]:
import pandas as pd

In [5]:
# Creating a DataFrame with missing values
data = {
    "Name": ["Alice", "Bob", "Charlie", None, "Eve"],
    "Age": [25, None, 30, 22, None],
    "City": ["New York", "Los Angeles", None, "Chicago", "Houston"],
    "Salary": [50000, 60000, None, None, 75000]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

Original DataFrame:
      Name   Age         City   Salary
0    Alice  25.0     New York  50000.0
1      Bob   NaN  Los Angeles  60000.0
2  Charlie  30.0         None      NaN
3     None  22.0      Chicago      NaN
4      Eve   NaN      Houston  75000.0