In [9]:
import pandas as pd

In [68]:
#Create a dataframe where col names would be [‘Student name’,’Roll Number’,’Subject’,’Marks’,’Remarks’]. Add rows according to your choice.
df1=pd.DataFrame({'Student Name': pd.Series(['Laiba Arsha', 'Malaikah Irfan', 'Zainab Ikram']),
                  'Roll Number': pd.Series([16,20,42]),
                  'Subject': pd.Series(['Bioinformatics Scripting', 'Statistics', 'Artificial Intelligence']),
                  'Marks': pd.Series([85, 90]),
                  'Remarks': pd.Series(['Excellent', 'Very Good'])})
print(df1)

     Student Name  Roll Number                   Subject  Marks    Remarks
0     Laiba Arsha           16  Bioinformatics Scripting   85.0  Excellent
1  Malaikah Irfan           20                Statistics   90.0  Very Good
2    Zainab Ikram           42   Artificial Intelligence    NaN        NaN

In [62]:
#Create a series of even number and a series of odd number, try to subtarct series 2 from series 1.
even_series = pd.Series([2, 4, 6, 8, 10])
odd_series = pd.Series([1, 3, 5, 7, 9])

result_series = even_series - odd_series
print("Result of Subtraction:")
print(result_series)

Result of Subtraction:
0    1
1    1
2    1
3    1
4    1
dtype: int64

In [60]:
#Find max and min numbers from this ; [12,45,3,21,3,456,7,123,90,54,32,1267]

numbers = pd.Series([12, 45, 3, 21, 3, 456, 7, 123, 90, 54, 32, 1267])

max_value = max(numbers)
min_value = min(numbers)

print("Maximum Value:", max_value)
print("Minimum Value:", min_value)

Maximum Value: 1267
Minimum Value: 3

In [58]:
#Create a dataframe from a dictionary where keys will be ‘Book Name’ and ‘author’.And the values will be of your own choice
books_df = pd.DataFrame({
    'Book Name': ['Harry Potter', 'The Shining', 'War and Peace'],
    'Author': ['J. K. Rowling', 'Stephen King', 'Leo Tolstoy ']
})
print("Books DataFrame:")
print(books_df)

Books DataFrame:
       Book Name         Author
0   Harry Potter  J. K. Rowling
1    The Shining   Stephen King
2  War and Peace   Leo Tolstoy

In [56]:
#Write python programm to merge two series into a dataframe.
series1 = pd.Series(['A', 'B', 'C', 'D'])
series2 = pd.Series([1, 2, 3, 4])

# Merge into a DataFrame
merged_df = pd.DataFrame({'S1': series1, 'S2': series2})
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
  S1  S2
0  A   1
1  B   2
2  C   3
3  D   4