In [ ]:
#1. Does tuple support indexing and slicing? If yes, then explain by example in python.

In [3]:
x = ('ATG', 'ATA', 'TAA') 
print(x[0])        # tuple indexing

ATG

In [21]:
x = ('ATG', 'ATA', 'TAA', 'TAG')
print(x[0:3])     #tuple slicing

('ATG', 'ATA', 'TAA')

In [ ]:
#2. How can we create an empty tuple. Write code by using parenthesis, and by constructor.

In [29]:
x = (0, [4], 1.2, '3')  #with parenthesis
print(x)

(0, [4], 1.2, '3')

In [25]:
print(tuple())  #empty tuple
T = tuple([44, 'ATGC',22.5])   #with constructor
print(T)

()
(44, 'ATGC', 22.5)

In [ ]:
#3. What is type() of these, and also explain reason:
#T1 = 1, 2 , [3,4]
#T2= (3,4)
#T3= ((3,6))
#T4 = tuple(2,3)

In [33]:
T1 = 1, 2, [3,4]
type(T1)

tuple

In [35]:
T2= (3,4)
type(T2)

tuple

In [37]:
T3= ((3,6))
type(T2)

tuple

In [97]:
T4 = tuple((2,3))  #shows error without the ()
type(T4)

tuple

In [ ]:
4. Take any three tuples and merge them using concatenation.

In [45]:
x=(22, "Malaikah", 2002)
y=(21, "Zainab", 2003)
z=(13, "Anika", 2011)
print(x+y+z)       #concatination

(22, 'Malaikah', 2002, 21, 'Zainab', 2003, 13, 'Anika', 2011)

In [47]:
a=('ATG', 'ATA')
print(a*3)     #repeatition

('ATG', 'ATA', 'ATG', 'ATA', 'ATG', 'ATA')

In [99]:
i = 0
while i < len(x):
  print(x[i])
  i += 1

22
Malaikah
2002

In [83]:
tu = ((2,2),2,4,5,6,7,2,2,2)
b=tu.count(2)
c=tu[0].count(2)
print(b+c)

6

In [75]:
tu = ((2,2),2,4,5,6,7,2,2,2)
tu.index(6)

4

In [93]:
print(type(2+3))
print(type((2,3)))

<class 'int'>
<class 'tuple'>

In [85]:
z=(13, "Anika", 2011)
z.insert(55)

AttributeError: 'tuple' object has no attribute 'insert'