In [1]:
import pandas as pd

In [3]:
series = pd.Series([1,2,3,4,5])
print (series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
series = pd.Series(0.5)
print (series)

0    0.5
dtype: float64

In [11]:
dict_series = pd.Series({'a':1, 'b':2, 'c':3})
print (dict_series)

a    1
b    2
c    3
dtype: int64

In [21]:
series = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'] )
print (series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [25]:
series_2 = pd.Series([1,2,3,4,5])
print (series_2)
series_2[0]

0    1
1    2
2    3
3    4
4    5
dtype: int64

1

In [27]:
series_2[0:3]

0    1
1    2
2    3
dtype: int64

In [29]:
max(series_2)

5

In [31]:
series_2[series_2 > 3]

3    4
4    5
dtype: int64

In [33]:
series_2 = pd.Series([1,2,3,4,5])
print (series_2)
series_3 = pd.Series([6,7,8,9,10])
print (series_3)
series_2 + series_3

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     6
1     7
2     8
3     9
4    10
dtype: int64

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [39]:
series_4 = pd.Series([11,12,13,14,15])
series_5 = pd.Series([21,22,23])
series_4 + series_5

0    32.0
1    34.0
2    36.0
3     NaN
4     NaN
dtype: float64

In [53]:
#Create a Series from a list of temperatures
temperatures = pd.Series([72, 65, 80, 90, 78, 68, 84])

print("Temperature Series: ")

print(temperatures)

Temperature Series:
0    72
1    65
2    80
3    90
4    78
5    68
6    84
dtype: int64

In [55]:
series1 = pd.Series([10, 20, 30, 40, 50])
series2 = pd.Series([5, 15, 25, 35, 45])


addition = series1 + series2
subtraction = series1 - series2
multiplication = series1 * series2
division = series1 / series2

print("Addition of Series:")
print(addition)
print("\nSubtraction of Series:")
print(subtraction)
print("\nMultiplication of Series:")
print(multiplication)
print("\nDivision of Series:")
print(division)

Addition of Series:
0    15
1    35
2    55
3    75
4    95
dtype: int64

Subtraction of Series:
0    5
1    5
2    5
3    5
4    5
dtype: int64

Multiplication of Series:
0      50
1     300
2     750
3    1400
4    2250
dtype: int64

Division of Series:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [99]:
#Slice a Series based on conditions.

temperature_series = pd.Series([72, 65, 80, 90, 78, 68, 84])


greater_than_75 = temperature_series[temperature_series > 75]
between_65_and_80 = temperature_series[(temperature_series >= 65) & (temperature_series <= 80)]

print("Temperatures Greater than 75:")
print(greater_than_75)

print("\nTemperatures Between 65 and 80:")
print(between_65_and_80)

Temperatures Greater than 75:
2    80
3    90
4    78
6    84
dtype: int64

Temperatures Between 65 and 80:
0    72
1    65
2    80
4    78
5    68
dtype: int64

In [59]:
df1=pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [63]:
ls=[1,2,3,4,5,6]
df2=pd.DataFrame(ls)
print(df2)

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [103]:
df3=pd.DataFrame([[1,2,3],[4,5]])
print(df3)

   0  1    2
0  1  2  3.0
1  4  5  NaN

In [75]:
dict={'a':1,'b':2,'c':3}
df4=pd.DataFrame(dict,index=[1])
print(df4)

   a  b  c
1  1  2  3

In [97]:
df5=pd.DataFrame([{'a':1,'b':2}])
print(df5)

   a  b
0  1  2

In [87]:
df6=pd.DataFrame({'key':pd.Series(['a','b','c']),'value':pd.Series([1,2,3])})
print(df6)

  key  value
0   a    1.0
1   b    2.0
2   c    NaN

In [91]:
df7=pd.DataFrame({'Name':['Anma','Kinza','Malaikah','Anika'],'Roll_Number':[1,2,3,5]})
print(df7)

       Name  Roll_Number
0      Anma            1
1     Kinza            2
2  Malaikah            3
3     Anika            5